@import "tailwindcss";
@import "tw-animate-css";

@source inline("{!,}{hover:,}bg-{zinc,stone,neutral,slate,gray}-{50,{100..900..100},950}");
@source inline("{!,}{hover:,}text-{zinc,stone,neutral,slate,gray}-{50,{100..900..100},950}");
@source inline("{!,}{hover:,}{text,bg}-muted{,-foreground}");
@source inline("{!,}{hover:,}{text,bg}-white");

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.79 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  /** Base and Text colors */
  --dark-a0: #000000;
  --dark-a10: #121212;
  --dark-a20: #1e1e1e;
  --dark-a30: #2a2a2a;
  --dark-a40: #363636;
  --dark-a50: #4e4e4e;

  --light-a0: #ffffff;
  --light-a10: #f2f2f2;
  --light-a20: #e6e6e6;
  --light-a30: #cccccc;
  --light-a40: #b3b3b3;
  --light-a50: #999999;

  /** Theme primary colors */
  --primary-a0: #1975d1;
  --primary-a10: #4783d6;
  --primary-a20: #6592dc;
  --primary-a30: #7ea0e1;
  --primary-a40: #95afe6;
  --primary-a50: #abbfec;
  --primary-a60: #c7d9f0;
  --primary-a70: #e1eaf1;

  /** Theme surface colors */
  --surface-a0: #0f0f0f;
  --surface-a10: #262626;
  --surface-a20: #3d3d3d;
  --surface-a30: #555555;
  --surface-a40: #6f6f6f;
  --surface-a50: #8a8a8a;

  /** Theme tonal surface colors */
  --surface-tonal-a0: #161920;
  --surface-tonal-a10: #2b2e35;
  --surface-tonal-a20: #42444b;
  --surface-tonal-a30: #5a5c62;
  --surface-tonal-a40: #73757a;
  --surface-tonal-a50: #8e8f93;

  /* Movidesk Geral */
  * {
    scrollbar-color: var(--surface-a50) var(--surface-a10) !important;
  }

  #main-container {
    padding: 0px !important;
  }

  #ticket-sidebar {
    background-color: var(--surface-a10);
  }

  .bar-tab-color-preview {
    width: 100% !important;
    left: 0px !important;
  }

  .tab-ticket-container {
    background-color: var(--surface-a10);
  }

  .dropdown-toggle {
    background-color: var(--surface-a20);

    padding-left: 10px;
    padding-right: 6px;

    .button-text {
      color: var(--light-a30);
    }
  }

  .tab-ticket.tab-ticket-form {
    border: none !important;
  }

  #tabs-nav li {
    margin: 4px 4px 0 4px !important;
  }

  .ticket-content,
  .ticket-subject {
    color: var(--light-a30) !important;
  }

  .ticket-type-label,
  .container-text-editor,
  .tabs-wrapper,
  .navbar {
    background-color: var(--surface-a10) !important;
    color: var(--light-a30) !important;
  }

  .fr-toolbar,
  .fr-wrapper,
  .fr-second-toolbar {
    background-color: var(--surface-a10) !important;
    color: var(--light-a30) !important;
    border-color: var(--surface-a20) !important;
  }

  .container-text-editor > .fr-box {
    border-color: var(--surface-a20);
  }

  .ticket-description-container,
  .line-division {
    background-color: var(--surface-a20) !important;
  }

  .action-item-content-container,
  .history-item-content,
  #button-more-icon-container {
    background-color: var(--surface-a20) !important;
    color: var(--light-a30) !important;
  }

  .action-buttons-square {
    background-color: var(--surface-a20) !important;

    &:hover {
      background-color: var(--surface-a30) !important;
    }
  }

  .action-item-image-container,
  .history-item-owner,
  .tr-toolbar,
  .form-toolbox {
    border-color: var(--surface-a30) !important;
  }

  .jqx-input,
  .jqx-action-button {
    background-color: var(--surface-a20) !important;
    border-color: var(--surface-a30) !important;
  }

  #ticket-action-type-select > label {
    margin-bottom: 0px !important;
    margin-top: 5px !important;
  }

  .jqx-action-button,
  .jqx-input-content:disabled {
    background-color: var(--surface-a20) !important;
    color: var(--light-a40) !important;
  }

  .jqx-input-content:not(:disabled) {
    background-color: var(--surface-a10) !important;
    color: var(--light-a30) !important;
  }

  .dropdown-toggle {
    background-color: var(--surface-a20) !important;
    color: var(--light-a30) !important;
  }

  .icon-mv-clock,
  .time-appointment-operations,
  .appointments-header > div {
    color: var(--light-a30) !important;
  }

  .ticket-breadcrumb > li {
    a,
    span {
      color: var(--light-a30) !important;
    }
  }

  #button-more-icon-container {
    border-color: transparent !important;
  }

  /* Movidesk Geral */

  /* Movidesk Select2 */
  .select2-container,
  .select2-container-disabled {
    background-color: var(--surface-a20) !important;
    border-color: var(--surface-a40) !important;

    .select2-chosen {
      color: var(--light-a10) !important;
    }
  }

  .select2-container.ticket-select-status {
    background-color: var(--surface-a30) !important;
    border-color: var(--surface-a50) !important;

    .select2-chosen {
      color: var(--light-a10) !important;
    }
  }

  .select2-container.select2-container-multi {
    background-color: var(--surface-a20) !important;
    border-color: var(--surface-a50) !important;

    .select2-choices {
      background-color: var(--surface-a20) !important;
      color: var(--light-a10) !important;
    }
  }

  .ticket-status-container {
    background-color: var(--surface-a10) !important;
  }

  .select2-drop {
    background-color: var(--surface-a20) !important;

    input {
      background-color: var(--surface-a10) !important;
    }
  }

  .select2-search {
    height: auto !important;
    padding-top: 3px !important;
    border-color: var(--surface-a20) !important;
  }

  .select2-input {
    color: var(--light-a10) !important;
  }

  .md-select-justificationx,
  .md-select-item-idented {
    color: var(--light-a30) !important;
  }

  .select2-results {
    background-color: var(--surface-a10) !important;
  }

  .select2-result-unselectable {
    background-color: var(--surface-a20) !important;

    .select2-result-label,
    .select2-result-label > span {
      background-color: var(--surface-a20) !important;
      color: var(--light-a30) !important;
    }
  }

  .select2-result-selectable {
    background-color: var(--surface-a10) !important;

    .select2-result-label,
    .select2-result-label > span {
      background-color: var(--surface-a10) !important;
      color: var(--light-a50) !important;
    }
  }

  .select2-result-selectable.select2-highlighted {
    background-color: var(--surface-a30) !important;

    .select2-result-label,
    .select2-result-label > span {
      background-color: var(--surface-a30) !important;
      color: var(--light-a30) !important;
    }
  }
  /* Movidesk Select2 */

  /* Movidesk SlickGrid */
  .ui-widget-content.slick-row {
    @apply bg-none;
  }

  .slick-cell {
    @apply border-x-0 border-y border-y-zinc-600;
  }

  .slick-header {
    @apply bg-neutral-800;
  }

  .slick-cell {
    @apply border-x-0;
  }

  .slick-column-name {
    @apply text-zinc-200;
  }

  .slick-sort-indicator {
    @apply bg-zinc-700 text-zinc-200;
  }
  /* Movidesk SlickGrid */

  /** Base Style
  background-color: var(--surface-a20) !important;
  color: var(--light-a10) !important;
  */

  /* Movidesk Dropdown */
  .dropdown-menu {
    background-color: var(--surface-a20) !important;
    color: var(--light-a10) !important;

    li {
      background-color: var(--surface-a20) !important;

      span,
      a {
        color: var(--light-a10) !important;

        &:hover {
          color: inherit !important;
          background-color: inherit !important;
        }
      }

      &:hover {
        background-color: var(--surface-a30) !important;
        color: var(--light-a20) !important;
      }
    }
  }

  .divider {
    background-color: var(--surface-a30) !important;
  }

  .dropdown-menu-movidesk {
    background-color: var(--surface-a10) !important;
    color: var(--light-a30) !important;
    border-color: var(--surface-a20) !important;

    > li > a {
      color: var(--light-a30) !important;
    }
  }

  .dropdown-dad-movidesk::before {
    border-bottom-color: var(--surface-a20) !important;
    transform: translateX(48%) !important;
    border-width: 12px !important;
    left: -3px !important;
  }

  .dropdown-dad-movidesk::after {
    border-bottom-color: var(--surface-a10) !important;
    transform: translateX(48%) !important;
    border-width: 10px !important;
    left: -2px !important;
  }

  .dropdown-item-link-movidesk:hover {
    background-color: var(--surface-a20) !important;
  }

  /* Movidesk Dropdown */

  /* Movidesk Inputs */

  .input-mv-new {
    background-color: var(--surface-a20) !important;
    border-color: var(--surface-a40) !important;
    color: var(--light-a30) !important;
  }

  .input-mv-new:hover {
    border-color: var(--surface-a50) !important;
  }

  .lbl-input-text,
  .info-item-container-custom-field {
    color: var(--light-a30);
  }

  /* Movidesk Inputs */

  /* Movidesk mv-input */

  .mv-input-container {
    > div:first-of-type,
    span:first-of-type {
      button,
      a {
        color: var(--light-a10) !important;
      }

      > span:first-of-type {
        background-color: var(--surface-a20) !important;
        border-color: var(--surface-a40) !important;
        color: var(--light-a10) !important;
      }

      > span:first-of-type:hover {
        border-color: var(--surface-a50) !important;
      }
    }
  }

  /* Movidesk mv-input */

  /* Movidesk Misc. */
  .all-macros {
    padding-left: 11px;
    padding-right: 7px;
  }

  #select2-chosen-10,
  .appointment-activity > .select2-choice > .select2-chosen {
    padding: 8px !important;
  }

  .ticket-type-label.active > .icon-mv-check2 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .button-more-tab-nav {
    border-left: none !important;
    margin-top: 4px !important;

    .icon-mv-add {
      translate: 0px 2px !important;
    }
  }
  /* Movidesk Misc. */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: revert;
    vertical-align: revert;
  }

  img,
  video {
    max-width: revert;
    height: revert;
  }

  ol,
  ul,
  menu {
    list-style: revert;
  }
}
